*,
*::after,
*::before
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    font-size: 62.5%;
    scroll-behavior: smooth;
    
}

body{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    
}
.navbar{
    display: grid;
    width: 100%;
    grid-template-columns: max-content 1fr;
    background-color: white;
    padding: 2.5rem 6rem;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.15);
    align-items: center;
    
}

.navbar_sec{
    justify-self: right;
}
.second{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4,max-content);
}

.navbar_main
{
    letter-spacing: 0.2rem;
    font-weight: 700;
    font-size: 3rem;
}

.second > li{
    text-transform: uppercase;
    margin: 0rem 0rem 0rem 3rem;
    padding: 1rem 0rem;
    letter-spacing: 0.2rem;
    transition: all 0.2s;
    border-bottom: 2px solid transparent;
    cursor: pointer;

}

.second > li > a:link,
.second > li > a:visited,
.second > li > a:active
{
    color: black;
    text-decoration: none;
}

.second > li:hover
{
    border-bottom: 2px solid #00adb5;
    border-radius: 5px;

}

@media only screen and (max-width: 900px) 
{
 html{
     font-size: 50%;
 }


}

@media only screen and (max-width: 600px)
{
    .navbar_sec
    {
       justify-self: center;
       margin-top: 1rem;
       display: none;
    }
    .navbar
    {
        grid-template-columns: 1fr;
        justify-items: center;
        padding: 1.2rem 3rem 0.5rem;
    }
} 

/* HOME PAGE CODE */
.home
{
    height: 80vh;
    display: grid;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right bottom, rgba(63, 114, 175, 0.75),rgba(63, 114, 175, 0.75)), url('./IMAGES/pexels-digital-buggu-171198.jpg');
    background-size: cover;

}

.name
{
    text-align: center;
    color: white;
    margin-top: -3rem;
}

.name > h1{
    font-size: 5rem;
    letter-spacing: 00.3rem;
    margin-bottom: 2rem;
    position: relative;
    padding-bottom: 1rem;
}

.name > h5{
   font-size: 2.5rem;
   letter-spacing:0.4rem ;
}

.name > h1::after
{
    content: '';
    height: 6px;
    width: 10rem;
    background-color: #f08a5d;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 0%;
    border-radius: 5px;
}

.heading
{
    text-align: center;
    font-size: 2.2rem;
    letter-spacing: 00.4rem;
    color: #262626;
    position: relative;
    padding-bottom: 1rem;

}

.heading::after
{
    content: '';
    height: 4px;
    width: 6rem;
    border-radius: 5px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 0%;
    background-color: #f08a5d;
}

.ongoing, .upcoming
{
    padding: 8rem 6rem;
}

.container
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 5rem;
    grid-gap: 3rem;

}

.item >img
{
 width: 100%;
 overflow: hidden;
}

.item
{
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.15);
    padding: 2rem ;
    text-align: center;    
    background-color: white;
    
}
.item > h1
{
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.upcoming
{
    background-image: linear-gradient(to right bottom , rgba(0,0,0,0.5),rgba(0,0,0,0.5)) , url('./IMAGES/pexels-gdtography-911738.jpg');
    background-size: cover;
}

.white
{
    color: white;
}

.all
{
    padding: 8rem 6rem;
}
@media only screen and (max-width: 900px) 
{
.name > h1{
    font-size: 4rem;
    padding-bottom: 2rem;
}
.container
{
    grid-template-columns: repeat(2,1fr);
}
}

@media only screen and (max-width: 600px) 
{
    .container
{
    grid-template-columns: repeat(1,1fr);
}
}